*{margin: 0; padding:0;}
body{
    background: rgb(222,227,220);
}
header{
    display: -webkit-flex;
    display: flex;
    margin: 20px ;
    background: white;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
}
.loginTop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img{
    width: 50px;
    height:50px;
}